{
	"AppId": "com.sap.samvanti",
	"DestinationName": "DEST_SAM40_ONLINE_PPROP",
	"LanguageURLParam": "sap-language",
	"OfflineEnabled": false,
	"ServiceUrl": "/destinations/mobileservices"
}